body{
    font-family: 'Helvetica', sans-serif;
    padding: 0;
    margin: 0;
    background: #f2f5f7;
    color: #ffffff;
    overflow-x: hidden;
}
/** { -webkit-user-select:none; -moz-user-select:none; }*/

#content-size{
    position: fixed;
    display: block;
    height: 100%;
}
#all-content{
    position: absolute;
    display: block;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
}
#all-content.fixed{
    position: fixed;
}
.empty{
    position: relative;
    display: inline-block;
    height: 1px;
    width: 250px;
}
#index-photo{
    position: absolute;
    display: block;
    left: 0;
    top: 15%;
    height: 70%;
    width: 45%;
    background: url(../img/implanty.jpg) no-repeat 50% 50%;
    background-size: cover;
}

header{
    position: relative;
    display: block;
    width: calc(100% - 60px);
    max-width: 1500px;
    margin: 0 auto;
    height: 80px;
}

header a{
    position: absolute;
    display: block;
    font-size: 30px;
    font-weight: 600;
    line-height: 80px;
    color: #424b5a;
    text-decoration: none;
}
header span{
    position: absolute;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 80px;
    color: #424b5a;
    text-decoration: none;
    left:140px;
}

#header-right{
    position: absolute;
    display: block;
    right: 0;
    top: 0;
}
#header-right a{
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 80px;
    color: #424b5a;
    margin-left: 30px;
}
#content h1{
    position: absolute;
    display: block;
    left: 50%;
    width: 35%;
    font-weight: 600;
    font-size: 55px;
    line-height: 60px;
    color: #424b5a;
    top: 30%;
}

#home-buttons{
    position: absolute;
    display: block;
    left: 50%;
    top: 60%;
}
#home-buttons a{
    position: relative;
    display: inline-block;
    width: 280px;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 16px;
    background: #424b5a;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
    /*text-transform: uppercase;*/
}
#home-buttons a:last-child{
    position: relative;
    display: inline-block;
    width: 200px;
    background: none;
    color: #424b5a;
    border: #424b5a solid 1px;
    box-sizing: border-box;
}
#auth-form{
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    top: 50%;
    margin-top: -130px;
}
#auth-form span{
    position: relative;
    display: block;
    font-size: 20px;
    line-height: 30px;
    color: #424b5a;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}
#auth-form input{
    position: relative;
    display: block;
    width: 300px;
    height: 40px;
    margin-top: 10px;
    border: #424b5a solid 1px;
    background: none;
    font-family: 'Helvetica', sans-serif;
    text-decoration: none;
    color: #424b5a;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
    outline: none;
}
#auth-form button{
    position: relative;
    display: block;
    width: 300px;
    height: 50px;
    margin-top: 10px;
    border: #424b5a solid 1px;
    background: #424b5a;
    font-family: 'Helvetica', sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

#auth-form button:hover{
    position: relative;
    display: block;
    width: 300px;
    height: 50px;
    margin-top: 10px;
    background: #576276;
    font-family: 'Helvetica', sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

#catalog{
    position: relative;
    display: block;
    width: calc(100% - 60px);
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 30px;
}
#catalog-list{
    position: relative;
    display: block;
    margin-top: 30px;
    text-align: justify;
}
.catalog-item{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 250px;
    border: #424b5a solid 1px;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 30px;
    cursor: pointer;
}
.catalog-item-price{
    position: absolute;
    display: block;
    width: 100%;
    height: 40px;
    left: 0;
    bottom: 0;
    background: #576276;
    text-align: center;
    color: #fff;
    line-height: 40px;
}
.catalog-item-hover{
    position: absolute;
    display: none;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    background: #576276;
    color: #fff;
}
.catalog-item:hover .catalog-item-hover{
    display: block;
}
.catalog-item-hover span{
    position: absolute;
    display: block;
    margin-top: 30px;
    font-size: 16px;
    line-height: 30px;
    width: 90%;
    left: 5%;
    text-align: center;
    color: #fff;
    bottom: 55%;
    text-decoration: none;
}

.catalog-item-hover a{
    position: absolute;
    display: block;
    margin-top: 10px;
    font-size: 16px;
    line-height: 30px;
    width: 70%;
    left: 15%;
    text-align: center;
    border-radius: 3px;
    background: #fff;
    color: #424b5a;
    border: #fff solid 1px;
    text-decoration: none;
    box-sizing: border-box;
    top: 50%;
}

.catalog-item-hover a:hover{
    border: #fff solid 1px;
    color: #fff;
    background: none;

}

