
.auth_form {
    width: auto;
    margin: 50px auto 0;
}
.product_card {
    padding: 15px;
    color: #000;
    width: 60%;
    margin: 0 auto;
    border: 1px solid red;
}
.product_image {
    padding-bottom: 20px;
}